<ng-container>
  <div class="mb-6">
    <h1 class="mb-2 text-2xl">PABLO ALBORAN</h1>
    <div class="flex justify-between mb-1 text-sm">
      <p>18/05/1993</p>
      <div class="flex gap-6 items-center">
        <p>x2</p>
        <img class="h-5" src="../../../assets/img/trash.png" alt="" />
      </div>
    </div>
    <div class="flex justify-between mb-1 text-sm">
      <p>18/05/1993</p>
      <div class="flex gap-6 items-center">
        <p>x2</p>
        <img class="h-5" src="../../../assets/img/trash.png" alt="" />
      </div>
    </div>
  </div>
  <div class="mb-6">
    <h1 class="mb-2 text-2xl">PABLO ALBORAN</h1>
    <div class="flex justify-between mb-1 text-sm">
      <p>18/05/1993</p>
      <div class="flex gap-6 items-center">
        <p>x2</p>
        <img class="h-5" src="../../../assets/img/trash.png" alt="" />
      </div>
    </div>
    <div class="flex justify-between mb-1 text-sm">
      <p>18/05/1993</p>
      <div class="flex gap-6 items-center">
        <p>x2</p>
        <img class="h-5" src="../../../assets/img/trash.png" alt="" />
      </div>
    </div>
  </div>
</ng-container>
